{% extends 'starter.html' %} {% block container %}

<body data-ng-app="DINEApp" class="ng-cloak" data-ng-controller='chartsController'>

    <!--<div class="card-header" style="height: 50px;">-->
      <!--<i class="far fa-chart-bar"></i> MSD Biotech Dublin | Charts-->
    <!--</div>-->
    <!--<br>-->

    <div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="systemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{[point.title]}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form name="myForm">
            <div class="form-group">
                <label for="System" class="col-form-label">System:</label>
                  <select id="System" name="System" class="form-control" ng-model="point.System" ng-options="v for v in point.system_list">
                  </select>
            </div>
            <div class="form-group">
                <label for="Component" class="col-form-label">Component:</label>
                  <select id="Component" name="Component" class="form-control" ng-model="point.Component" ng-options="v for v in all_components">
                  </select>
            </div>
            <div class="form-group">
                <label for="Name" class="col-form-label">Name:</label>
                <textarea ng-model="point.Name" type="text" class="form-control"  id="Name"></textarea>
            </div>

            <div class="form-group">
                <label for="Related_Symbols" class="col-form-label">Related_Symbols:</label>
                <div isteven-multi-select id="Related_Symbols"
                          input-model="point.Related_Symbols"
                          output-model="point.Related_Symbols_output"
                          button-label="icon name"
                          item-label="icon name maker"
                          tick-property="ticked">
                </div>
            </div>

            <div class="form-group">
                <label for="Dependencies" class="col-form-label">Dependencies:</label>
                <div isteven-multi-select id="Dependencies"
                          input-model="point.Dependencies"
                          output-model="point.Dependencies_output"
                          button-label="icon name"
                          item-label="icon name maker"
                          tick-property="ticked">
                </div>
            </div>

            <div class="form-group">
                <label for="Formula" class="col-form-label">Formula:</label>
                <textarea class="form-control" ng-model="point.Formula" id="Formula"></textarea>
            </div>

            <div class="form-group">
                <label for="Type" class="col-form-label">Type:</label>
                  <select id="Type" name="Type" class="form-control" ng-model="point.Type">
                    <option value="Primary">Primary</option>
                    <option value="Secondary">Secondary</option>
                    <option value="Constant">Constant</option>
                      <option value="Rating">Rating</option>
                  </select>
            </div>

            <div class="form-group">
                <label for="Variable" class="col-form-label">Variable:</label>
                  <select id="Variable" name="Variable" class="form-control" ng-model="point.Variable">
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
            </div>


            <div class="form-group">
                <label for="Symbol" class="col-form-label">Symbol:</label>
                <textarea class="form-control" ng-model="point.Symbol" id="Symbol"></textarea>
            </div>
            <div class="form-group">
                <label for="Unit" class="col-form-label">Unit:</label>
                <textarea class="form-control" ng-model="point.Unit" id="Unit"></textarea>
            </div>

            <div class="form-group">
                <label for="Comment" class="col-form-label">Comment:</label>
                <textarea class="form-control" ng-model="point.Comment" id="Comment"></textarea>
            </div>

            <div class="form-group">
                <label for="Value" class="col-form-label">Value:</label>
                <textarea class="form-control" ng-model="point.Value" id="Value"></textarea>
            </div>
    </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="save_point()" data-dismiss="modal">Save Data Point</button>
    </div>
    </div>
    </div>
    </div>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirm Delete</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form name="myForm">
            <div class="form-group">
                <label for="System" class="col-form-label">Confirm Delete ???</label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" ng-click="confirmed_delete()" data-dismiss="modal">DELETE</button>
    </div>
    </div>
    </div>
    </div>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-left">
                    <h4><i class="far fa-chart-bar"></i>DINE Charts</h4>
                    </ol>
                </div>

                <div class="col-sm-3">
                    <ol class="breadcrumb float-sm-left">
                        <h4>Real time</h4>
                          <div class="btn-group" id="realtime" data-toggle="btn-toggle">
                            <button id="on_button" type="button" class="btn btn-default btn-sm active" data-toggle="on">On</button>
                            <button id="off_button" type="button" class="btn btn-default btn-sm" data-toggle="off">Off</button>
                          </div>

                    </ol>
                </div>

                <div class="col-sm-5">
                    <ol class="breadcrumb float-sm-right">
                      <div isteven-multi-select
                          input-model="system_list"
                          output-model="output_sys_list"
                          on-close="sys_change()"
                          button-label="icon name"
                          item-label="icon name maker"
                          max-labels="1"
                          tick-property="ticked">
                      </div>
                      <div isteven-multi-select
                        input-model="component_list"
                        output-model="output_comp_list"
                        button-label="icon name"
                        on-close="comp_change()"
                        item-label="icon name maker"
                           max-labels="1"
                        tick-property="ticked">
                    </div>
                      <div isteven-multi-select
                        input-model="component_list"
                        output-model="output_comp_list"
                        button-label="icon name"
                        on-close="comp_change()"
                        item-label="icon name maker"
                           max-labels="1"
                        tick-property="ticked">
                    </div>
                    </ol>
                </div>
            </div>


              <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Summary for All Chillers (Average Over Last 24hrs)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body"  id='summary'>
              
                          <div class="row">
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.power.bg]}">
                                  <div class="inner">
                                    <table style="width:100%">
                                        <tr>
                                          <td><h6>{[statistics.power.value]}</h6></td>
                                          <td><h6>kWh</h6></td>
                                        </tr>
                                        <tr>
                                          <td> <h6 id='power_up' style="color:blue;"><i class="fas fa-caret-up"></i><font size="1">{[statistics.power.change]}%</font></h6>
                                               <h6 id='power_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.power.change]}%</h6>
                                               <h6 id='power_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.power.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>
                                    <p style="color:black;">Energy</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-quidditch"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.flow.bg]}">
                                  <div class="inner">
                                      <table style="width:100%">
                                        <tr>
                                          <td><h3>{[statistics.flow.value]}</h3></td>
                                          <td><h6>L/s</h6></td>
                                           <td> <h6 id='flow_up' style="color:blue;"><i class="fas fa-caret-up"></i>{[statistics.flow.change]}%</h6>
                                               <h6 id='flow_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.flow.change]}%</h6>
                                               <h6 id='flow_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.flow.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>

                                    <p style="color:black;">Flow Rate</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-water"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.cooling.bg]}">
                                  <div class="inner">
                                      <table style="width:100%">
                                        <tr>
                                          <td><h3>{[statistics.cooling.value]}</h3></td>
                                          <td><h6>C</h6></td>
                                                <td> <h6 id='cooling_up' style="color:blue;"><i class="fas fa-caret-up"></i>{[statistics.cooling.change]}%</h6>
                                               <h6 id='cooling_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.cooling.change]}%</h6>
                                               <h6 id='cooling_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.cooling.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>

                                    <p style="color:black;">Cooling Water</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-thermometer-full"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.chilled.bg]}">
                                  <div class="inner">
                                      <table style="width:100%">
                                        <tr>
                                          <td><h3>{[statistics.chilled.value]}</h3></td>
                                          <td><h6>C</h6></td>
                                            <td> <h6 id='chilled_up' style="color:blue;"><i class="fas fa-caret-up"></i>{[statistics.chilled.change]}%</h6>
                                               <h6 id='chilled_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.chilled.change]}%</h6>
                                               <h6 id='chilled_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.chilled.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>

                                    <p style="color:black;">Chilled Water</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-thermometer-full"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.kwton.bg]}">
                                  <div class="inner">
                                      <table style="width:100%">
                                        <tr>
                                          <td><h3 title="We require {[statistics.kwton.value]}kW to produce one ton of refrigeration. Rating is 0.57 at 100% load. The lower the better,">{[statistics.kwton.value]}</h3></td>
                                          <td><h6>kW/TR</h6></td>
                                            <td> <h6 id='kwton_up' style="color:blue;"><i class="fas fa-caret-up"></i>{[statistics.kwton.change]}%</h6>
                                               <h6 id='kwton_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.kwton.change]}%</h6>
                                               <h6 id='kwton_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.kwton.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>

                                    <p style="color:black;">kW per Ton</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-balance-scale-right"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                              <div class="col-lg-2 col-6">
                                <!-- small box -->
                                <div class="small-box {[statistics.cop.bg]}">
                                  <div class="inner">
                                      <table style="width:100%">
                                        <tr>
                                          <td><h3 title="For every 1kW of energy taken by chillers, we get {[statistics.cop.value]}kW of cooling. Chiller rating is 6.15 at 100% load. The higher the better.">{[statistics.cop.value]}</h3></td>
                                          <td><h6>kW</h6></td>
                                            <td> <h6 id='cop_up' style="color:blue;"><i class="fas fa-caret-up"></i>{[statistics.cop.change]}%</h6>
                                               <h6 id='cop_down' style="color:blue;"><i class="fas fa-caret-down"></i> {[statistics.cop.change]}%</h6>
                                               <h6 id='cop_constant' style="color:blue;"><i class="fas fa-caret-left"></i> {[statistics.cop.change]}%</h6>
                                          </td>
                                        </tr>
                                      </table>

                                    <p style="color:black;">CoP</p>
                                  </div>
                                  <div class="icon">
                                    <i class="fas fa-balance-scale-left"></i>
                                  </div>
                                  <a href="#" class="small-box-footer">Details <i class="fas fa-arrow-circle-right"></i></a>
                                </div>
                              </div>
                              <!-- ./col -->
                            </div>        



                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>



              <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Chiller Status (1 = ON, 0 = OFF)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- <div id="interactive" style="height: 350px;"></div> -->
                        <div id="status1" style="height: 100px;"></div>
                        <div id="status2" style="height: 100px;"></div>
                        <div id="status3" style="height: 100px;"></div>
                        <div id="status4" style="height: 100px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>


              <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Chillers Percentage Load
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- <div id="interactive" style="height: 350px;"></div> -->
                        <div id="load1" style="height: 100px;"></div>
                        <div id="load2" style="height: 100px;"></div>
                        <div id="load3" style="height: 100px;"></div>
                        <div id="load4" style="height: 100px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>

             <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Chilled Water Flow Rate (L/s)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- <div id="interactive" style="height: 350px;"></div> -->
                        <div id="flow1" style="height: 100px;"></div>
                        <div id="flow2" style="height: 100px;"></div>
                        <div id="flow3" style="height: 100px;"></div>
                        <div id="flow4" style="height: 100px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>

              <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Cooling and Chilled Water Temperatures (degC)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- <div id="interactive" style="height: 350px;"></div> -->
                        <div id="cool1" style="height: 125px;"></div>
                        <div id="cool2" style="height: 125px;"></div>
                        <div id="cool3" style="height: 125px;"></div>
                        <div id="cool4" style="height: 125px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>

              <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Daily Energy Consumption (kWh)
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <!-- <div id="interactive" style="height: 350px;"></div> -->
                        <div id="energy1" style="height: 125px;"></div>
                        <div id="energy2" style="height: 125px;"></div>
                        <div id="energy3" style="height: 125px;"></div>
                        <div id="energy4" style="height: 125px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <!-- interactive chart -->
                    <div class="card card-primary card-outline">
                      <div class="card-header text-white" style="background-color: #252627;">
                        <h3 class="card-title">
                          <i class="far fa-chart-bar"></i>
                          Flow Rate
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
                            </button>
                        </div>
                      </div>
                      <div class="card-body">
                        <div id="interactive" style="height: 350px;"></div>
                      </div>
                      <!-- /.card-body-->
                    </div>
                </div>
            </div>


        </div>
    </section>

     <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="{{ url_for('static', filename='js/base.js', version=version_number) }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='angular/app.js', version=version_number) }}"></script>
      <!--<script data-require="select2@*" data-semver="4.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.js"></script>-->


</body>

{% endblock %}
