{% extends 'starter.html' %} {% block container %}

<body data-ng-app="DINEApp" class="ng-cloak" data-ng-controller='systemsController'>
    <div class="card-header" style="height: 50px;">
      <i class="fas fa-building"></i> MSD Biotech Dublin | Systems List
    </div>
    <div class="card-body" id="wtf">
          <div class='displayArea' >
            <div class="panel-heading" style="background-color:#00877c">
                <div class="row" >
                <div class="col-sm-5">

                     Total Systems : {[ systems.length ]} | Systems Per Page:
                  <select class="form-control-sm" ng-options="pageSize for pageSize in pageSizes" ng-model="selectedPageSize" ></select>
                  <!--<span class="col-sm-7">-->
                    <!--<select class="form-control-sm" ng-options="pageSize for pageSize in pageSizes" ng-model="selectedPageSize" ></select>-->
                  <!--</span>-->
                </div>
                <div class="col-sm-5">
                    <button
                      class="btn btn-xs btn-info"
                      ng-disabled="currentPage <1"
                      ng-click="currentPage=currentPage-1"
                    >
                      <i class="fa fa-angle-double-left" aria-hidden="true" title="Previous Page"></i>
                    </button>
                    <button
                      class="btn btn-xs btn-info"
                      ng-disabled="currentPage >= systems.length/selectedPageSize - 1"
                      ng-click="currentPage=currentPage+1"
                    >
                      <i class="fa fa-angle-double-right" aria-hidden="true" title="Next Page"></i>
                    </button>
                    <!--<select class="form-control-sm" BuildingsPerPage="margin-right: 5px " ng-model='selected_plt' ng-options='plt for plt in plt_list' ng-change='changePeriod(currentPeriod)'></select>-->
                    <!--<select class="form-control-sm" BuildingsPerPage="margin-right: 5px " ng-model='selected_system' ng-options='sys for sys in system_list' ng-change='changePeriod(currentPeriod)'></select-->
                    <!--<div isteven-multi-select-->
                          <!--input-model="modernBrowsers"-->
                          <!--output-model="outputBrowsers"-->
                          <!--button-label="icon name"-->
                          <!--item-label="icon name maker"-->
                          <!--tick-property="ticked">-->
                      <!--</div>-->
                </div>
                <div class="pull-right text-right col-sm-2">
                  <button class="btn btn-xs btn-success" ng-click="filter_tags()">
                    <i class="fas fa-check-square" aria-hidden="true" title="Confirm Filters"></i>
                  </button>
                  <button class="btn btn-xs btn-warning" ng-click="refreshtags()">
                    <i class="fas fa-sync-alt" aria-hidden="true" title="Refresh"></i>
                  </button>
                  <button class="btn btn-xs btn-success" ng-click="bulkUpdatetags()">
                    <i class="fas fa-upload" aria-hidden="true" title="Bulk Update"></i>
                  </button>
                  <button class="btn btn-xs btn-danger" ng-click="bulkDeletetags()">
                    <i class="fas fa-trash-alt" aria-hidden="true" title="Bulk Delete"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="modal fade" id="systemModal" tabindex="-1" role="dialog" aria-labelledby="systemModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New System</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <form name="myForm">
                    <div class="form-group">
                        <label for="Building" class="col-form-label">Building:</label>
                        <input type="text" class="form-control" ng-model="new_system.building" id="Building"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="Equipment_Code" class="col-form-label">Equipment_Code:</label>
                        <input type="text" class="form-control" ng-model="new_system.equipment_code" id="Equipment_Code">
                    </div>
                    <div class="form-group">
                        <label for="Equipment_Name" class="col-form-label">Equipment_Name:</label>
                        <input type="text" class="form-control" ng-model="new_system.equipment_name" id="Equipment_Name">
                    </div>
                    <div class="form-group">
                        <label for="System_Name" class="col-form-label">System_Name:</label>
                        <input type="text" class="form-control" ng-model="new_system.system_name" id="System_Name">
                    </div>
                    <div class="form-group">
                        <label for="System_Code" class="col-form-label">System_Code:</label>
                        <input type="text" class="form-control" ng-model="new_system.system_code" id="System_Code">
                    </div>
                    <div class="form-group">
                    <label for="Comments" class="col-form-label">Comments:</label>
                    <textarea class="form-control" ng-model="new_system.comment" id="Comments"></textarea>
                </div>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="save_system()" data-dismiss="modal">Save System</button>
                </div>
            </div>
                </div>
    </div>
            <div class="panel panel-info" id='chart' style='width: 100%; height:50%;position:relative;top:5px);left:2px;z-index:2'>
                <br>
                <div class="row col-sm-12">
                    <div class="pull-left col-sm-6">
                      Ordered by :
                        <span class="badge">{[sort | uppercase]}{[sort? (reverse?' - Descending':' - Ascending'):'None']}</span>
                    </div>
                    <div class="pull-right">
                      <span>Filtered by : </span>
                      <span ng-show="search.Building"
                        >Building =<span class="badge">{[search.Building]}</span>
                      </span>
                      <span ng-show="search.System_Name"
                        >System Name =<span class="badge">{[search.System_Name]}</span>
                      </span>
                      <span ng-show="search.System_Code"
                        >System Code =<span class="badge">{[search.System_Code]}</span>
                      </span>
                    </div>
                </div>
                <table class="table table-striped table-bordered" ng-hide="systems.length==0">
                    <thead>
                      <tr>
                        <th>
                          <input
                            type="text"
                            class="form-control"
                            ng-model="search.Building"
                            placeholder="Filter by Building"
                          />
                        </th>
                        <th>
                          <input
                            type="text"
                            class="form-control"
                            ng-model="search.System_Name"
                            placeholder="Filter by System Name"
                          />
                        </th>
                        <th>
                          <input
                            type="text"
                            class="form-control"
                            ng-model="search.System_Code"
                            placeholder="Filter by System Code"
                          />
                        </th>
                        <th>
                          <input
                            type="text"
                            class="form-control"
                            ng-model="search.Equipment_Name"
                            placeholder="Filter by Equipment Name"
                          />
                        </th>
                        <th>
                          <input
                            type="text"
                            class="form-control"
                            ng-model="search.Equipment_Code"
                            placeholder="Filter by Equipment Code"
                          />
                        </th>
                        <th><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#systemModal" data-whatever="@mdo">
                                <i class="far fa-plus-square" aria-hidden="true" title="Create New System"></i>
                            </button></th>
                      </tr>
                      <tr>
                        <th ng-click="setSort('Building')">
                          Building<span
                            class="pull-right fas fa-long-arrow-alt-up"
                            ng-show="sort==='Building' && reverse"
                          ></span>
                          <span
                            class="pull-right fas fa-long-arrow-alt-down"
                            ng-show="sort==='Building' && !reverse"
                          ></span>
                        </th>
                        <th ng-click="setSort('System_Name')">
                          System Name<span
                            class="pull-right fas fa-long-arrow-alt-up"
                            ng-show="sort === 'System_Name' && reverse"
                          ></span>
                          <span
                            class="pull-right fas fa-long-arrow-alt-down"
                            ng-show="sort === 'System_Name' && !reverse"
                          ></span>
                        </th>
                        <th ng-click="setSort('System_Code')">
                          System Code<span
                            class="pull-right fas fa-long-arrow-alt-up"
                            ng-show="sort==='System_Code' && reverse"
                          ></span>
                          <span
                            class="pull-right fas fa-long-arrow-alt-down"
                            ng-show="sort==='System_Code' && !reverse"
                          ></span>
                        </th>
                        <th ng-click="setSort('Equipment_Name')">
                          Equipment Name<span
                            class="pull-right fas fa-long-arrow-alt-up"
                            ng-show="sort==='Equipment_Name' && reverse"
                          ></span>
                          <span
                            class="pull-right fas fa-long-arrow-alt-down"
                            ng-show="sort==='Equipment_Name' && !reverse"
                          ></span>
                        </th>
                        <th ng-click="setSort('Equipment_Code')">
                          Equipment Code<span
                            class="pull-right fas fa-long-arrow-alt-up"
                            ng-show="sort==='Equipment_Code' && reverse"
                          ></span>
                          <span
                            class="pull-right fas fa-long-arrow-alt-down"
                            ng-show="sort==='Equipment_Code' && !reverse"
                          ></span>
                        </th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="sys in systems | filter:search | orderBy:sort:reverse | limitTo: selectedPageSize : -currentPage*selectedPageSize track by $index">
                        <td ng-click="editsystem(sys)">
                          <span ng-hide="sys.editMode">{[sys.Building]}</span>
                          <input
                            type="text"
                            name="Building"
                            ng-show="sys.editMode"
                            class="form-control"
                            ng-model="sys.Building"
                            placeholder="Building"
                            required=""
                          />
                        </td>
                        <td ng-click="editsystem(sys)">
                          <span ng-hide="sys.editMode">{[sys.System_Name]}</span>
                          <input
                            type="text"
                            ng-show="sys.editMode"
                            name="System_Name"
                            class="form-control"
                            ng-model="sys.System_Name"
                            placeholder="System Name"
                            required=""
                          />
                        </td>
                        <td ng-click="editsystem(sys)">
                          <span ng-hide="sys.editMode">{[sys.System_Code]}</span>
                          <input
                            type="text"
                            ng-show="sys.editMode"
                            name="System_Code"
                            class="form-control"
                            ng-model="sys.System_Code"
                            placeholder="System_Code"
                            required=""
                          />
                        </td>
                        <td ng-click="editsystem(sys)">
                          <span ng-hide="sys.editMode">{[sys.Equipment_Name]}</span>
                          <input
                            type="text"
                            ng-show="sys.editMode"
                            name="Equipment_Name"
                            class="form-control"
                            ng-model="sys.Equipment_Name"
                            placeholder="Equipment_Name"
                            required=""
                          />
                        </td>
                        <td ng-click="editsystem(sys)">
                          <span ng-hide="sys.editMode">{[sys.Equipment_Code]}</span>
                          <input
                            type="text"
                            ng-show="sys.editMode"
                            name="Equipment_Code"
                            class="form-control"
                            ng-model="sys.Equipment_Code"
                            placeholder="Equipment_Code"
                            required=""
                          />
                        </td>
                        <td>
                          <a href="" ng-hide="sys.editMode" ng-click="editsystem(sys)"
                            ><i class="fas fa-edit" aria-hidden="true" title="Edit Building"></i></a>

                          <a href=""
                            ng-hide="sys.editMode"
                            ng-click="deletesystem(sys,$index)"
                            ><i class="far fa-trash-alt" aria-hidden="true" title="Delete Building"></i></a
                          >
                          <a
                            href=""
                            ng-show="sys.editMode"
                            ng-click="savesystem(sys,$index)"
                            ><i class="fas fa-check-square" aria-hidden="true" title="Save"></i></a
                          >
                          <a href="" ng-show="sys.editMode" ng-click="cancel(sys)"
                            ><i class="fas fa-ban" aria-hidden="true" title="Cancel"></i></a
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
    </div>

     <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="{{ url_for('static', filename='js/base.js', version=version_number) }}"></script>
    <script type='text/javascript' src="{{ url_for('static', filename='angular/app.js', version=version_number) }}"></script>
</body>

{% endblock %}
